@media all and (max-width:1200px) {
    .container{
        width: 100%;
        padding: 0 3rem;
    }
}
@media all and (max-width:980px) {
    .about-grid{
        grid-template-columns: 1fr;
    }
    .paul{
        width: 55%;
    }
    .about-grid-item{
        text-align: center;
    }
    .work-grid, .process-grid{
        grid-template-columns: 1fr 1fr;
    }
    .process-grid-item:nth-child(5){
        grid-column: 1/2;
    }
}
@media all and (max-width:768px) {
    .contact-grid, .exp-grid,
    .test-grid{
        grid-template-columns: 1fr;
    }
    #test{
        background: none;
        background-color: #d1d1d1;
    }
   
}
@media all and (max-width:576px) {
    .process-grid{
        grid-template-columns: 1fr;
    }
    .paul{
        width: 80%;
    }
}
@media all and (max-width:480px) {
    .work-grid{
        grid-template-columns: 1fr;
    }
    .paul{
        width: 80%;
    }
    html{
        font-size: 55.5%;
    }
}